@import '../../app.component.scss';

#change-cont{
    width: 100vw;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-cont{
    width: 100vw;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}
.expanel-container{
    display: flex;
    flex-direction: column;
}

#left-side{
    width: 25vw;
}
#right-side{
    width: 65vw;
}
.blue-text{
    color: $hcolor;
}

.trip-container{
    padding: 10px;
    margin: 10px;
}
.trip-detail-container{
    @include dfjcsbaic();
}
.trip-leftside{
    @include dfjcsaaic();
}

.trip-time{
    padding: 10px;
    margin: 10px;
}
.yellow-button{
    @include yellowbutton();
}
.trip-last{
    display: flex;
    justify-content: flex-end;
}

