<div id="main-cont">
    <mat-card class="full-scr marginned">
        <mat-card-content class="paragraph">
    
            <p id="name" contenteditable="true" class="bigger-text">Hotel Name</p>
        </mat-card-content>
        <mat-card-content style="margin: 10px 10px;">
            <img src="{{imgSrc}}" alt=""><br>
            Hotel Thumbnail
            <input type="file" accept="image/*" (change)="onFileChange($event)" id="thumbnail" #thumbnail>
            
        </mat-card-content>

        <mat-card-content class="paragraph">
    
            <p id="address" contenteditable="true">Hotel Address</p>
        </mat-card-content>

        <mat-card-content class="paragraph">
    
            <p id="rating" contenteditable="true">Hotel Rating</p>
        </mat-card-content>
        <mat-card-content class="paragraph">
    
            <p id="area" contenteditable="true">Hotel Area</p>
        </mat-card-content>

        <mat-card-content class="paragraph">
    
            <p id="city" contenteditable="true">Hotel City</p>
        </mat-card-content>

        <mat-card-content class="paragraph">
    
            <p id="province" contenteditable="true">Hotel Province</p>
        </mat-card-content>

        <mat-card-content class="paragraph">
    
            <p id="latitude" contenteditable="true">Hotel Latitude</p>
        </mat-card-content>
        <mat-card-content class="paragraph">
    
            <p id="longitude" contenteditable="true">Hotel Longitude</p>
        </mat-card-content>
    
        <mat-card-content class="dfjcsaaic">
    
            <mat-checkbox [(ngModel)]="facility[0]">AC</mat-checkbox>
            <mat-checkbox [(ngModel)]="facility[1]">Parking</mat-checkbox>
            <mat-checkbox [(ngModel)]="facility[2]">24-Hour Receptionist</mat-checkbox>
            <mat-checkbox [(ngModel)]="facility[3]">Swimming Pool</mat-checkbox>
            <mat-checkbox [(ngModel)]="facility[4]">Lift</mat-checkbox>
            <mat-checkbox [(ngModel)]="facility[5]">Restaurant</mat-checkbox>
            <mat-checkbox [(ngModel)]="facility[6]">Wifi</mat-checkbox>
            <mat-checkbox [(ngModel)]="facility[7]">Spa</mat-checkbox>

        </mat-card-content>


        <mat-card-actions>
            <button mat-button (click)="actRoute.snapshot.paramMap.get('id')? updateHotel() : createHotel()">Save Hotel</button>
        </mat-card-actions>

    </mat-card>
</div>