@import '../../app.component.scss';


#main-cont{
    background-color: $hcolor;
    z-index: -1;
}

.chat-container{
    width: calc(95vw);
    background-color: $hcolor;
    .chat-wrapper{
        width: 70%;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
        border-radius: 4px;
        margin:auto;
        margin-top: 1vw;
        .chat-room-wrapper{
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
            padding: 1vw;
            cursor: pointer;
        }
    }
}

.submit-btn{
    
    margin: 10px;
    background-color: white;
    color: $hcolor;
    padding: 15px;
    text-align: center;
    border-radius: 15px;

}

.back{
    margin: 1vw;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}