<footer>
    <div id="upper-footer">
        <div>
            <img src="assets/icons/navbar-icon.png" alt="" id="logo-tiket">
            <div>
                <div class="contact-container">
                    <img class="partner-logo" src="assets/icons/footer-message.webp" alt="">
                    <div class="contact-detail">
                        <span>
                            Whatsapp
                        </span>
                        <span>
                            0855 1500 878
                        </span>
                    </div>
                </div>
                <div class="contact-container">
                    <img class="partner-logo" src="assets/icons/footer-email.webp" alt="">
                    <div class="contact-detail">
                        <span>
                            Email
                        </span>
                        <span>
                            cs@tiket.com
                        </span>
                    </div>
                </div>
                <div class="contact-container">
                    <img class="partner-logo" src="assets/icons/footer-call.webp" alt="">
                    <div class="contact-detail">
                        <span>
                            Call Center
                        </span>
                        <span>
                            +6221 3973 0888
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
    
       
        <div class="link-main-container">
            <div class="link-title">Company</div>
            <div class="links">
                <a>Blog</a>
                <a>Career</a>
                <a>Corporate</a>
                <a>Partner</a>
                <a>TIX Point</a>
                <a>Protection</a>
                <a>Installment</a>
                <a>Register Your Hotel</a>
            </div>
        </div>
        <div class="link-main-container">
            <div class="link-title">Product</div>
            <div class="links">
                <a [routerLink]="['/flights']" (click)="changeToFlight()">Flight</a>
                <a>Hotel</a>
                <a [routerLink]="['/train']" (click)= "changeToTrain()">Train</a>
                <a>Car Rental</a>
                <a>Entertainment</a>
            </div>
        </div>
        <div class="link-main-container">
            <div class="link-title">Support</div>
            <div class="links">
                <a>Help Center</a>
                <a>Terms and Conditions</a>
                <a>Privacy and Policy</a>
                <a>Worry-Free Fare</a>
            </div>
        </div>
        <div class="link-main-container">
            <div class="link-title">Download tiket.com app</div>
            <div class="links storelink">
                <a href="http://m.onelink.me/ee4c8d9c"><img src="assets/icons/playstore-link.png" alt="GooglePLayStore LOGO"></a>
                <a href="http://m.onelink.me/6c61f6f2"><img src="assets/icons/appstore-link.png" alt="AppStore LOGO"></a>
            </div>
        </div>
    </div>
    <div id="lower-footer">
        <div id="wonderful-container">
            <img class="partner-logo" src="assets/icons/wonderfulIndonesia.webp" alt="">
            <div id="off-text">Official Partner of the Ministry of Tourism, Republic of Indonesia</div>
        </div>
        <div>
            <div class="link-title">
                Secure Your Transaction
            </div>
            <div class="footer-logo-container">
                    <img class="partner-logo"src="assets/icons/verified-visa.webp" alt="">
                    <img class="partner-logo"src="assets/icons/master-card.webp" alt="">
                    <img class="partner-logo"src="assets/icons/geoTrust.webp" alt="">
                    <img class="partner-logo"src="assets/icons/jcb-secure.webp" alt="">
                    <img class="partner-logo"src="assets/icons/safekey.webp" alt="">
            </div>
        </div>
        <div>
            <div class="link-title">
               Awards
            </div>
            <div class="footer-logo-container">
                <img class="partner-logo" src="assets/icons/iata.webp" alt="">
                <img class="partner-logo" src="assets/icons/topBrand.webp" alt="">
                <img class="partner-logo" src="assets/icons/superbrand.webp" alt="">
            </div>
        </div>
        <div>
            <div class="link-title">
                Follow Us
            </div>
            <div class="footer-logo-container">
                <a href="https://www.facebook.com/tiket">Facebook</a>
                <a href="https://www.twitter.com/tiket">Twitter</a>
                <a href="https://www.linkedin.com/company/2439131">Linkedin</a>
                <a href="https://www.youtube.com/user/tiketdotcom">YouTube</a>
            </div>
        </div>
    </div>
</footer>