

@import '../../app.component.scss';

*{
    @include hoverable-text();
}


img{
    width: 182px;
    height: 52.14px;
}

#nav-parent{
    @include dfjccaic();
    width: 100vw;
    margin: 0;
}

@media only screen and (min-width:700px){
    nav{
        @include dfjcsaaic();
        width: 100%;
        
    }
    #left-navbar{
        /*@include hoverable-text(true);*/
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width:700px){
    nav{
        @include dfjccaic();
        flex-direction: column;
        width: 100%;
        
    }
    #left-navbar{
        /*@include hoverable-text(true);*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}



#right-navbar{
    /*@include hoverable-text(true);*/
    font-weight: bold;
    @include dfjccaic();
}

.reg-div{
    @include boxedform();
    padding: 2px;
}

ul{
   position: absolute; 
   background-color: $formbcolor;
   display: none;
   padding: 10px;
}

li{
    left: 0;
    margin: 0;
    list-style-type: none;
    
}

#navbar-parent:hover{
    ul{
        display: block;
    }
}