<header>
    <div class="head-container">
        <a class="header-content">Download tiket.com App</a>
        <a class="header-content">Promos</a>
        <a class="header-content">Help Center</a>
        <a [routerLink]="['/chat']">Chat</a>
    </div>
    <div class="head-container">
        <div id="google_translate_element"></div>
        <img src="assets/flags/us-flag.png" alt="" class="header-content">
        <span class="head-content">
            IDR
        </span>
    </div>
</header>
