@import '../../app.component.scss';

mat-card{
    img{
        min-width: 350px;
        min-height: 200px;

        width: 15vw;
        height: 10vh;
    }
}


.vendor-card{
    @include dfjcsbaic();
}

#main-container{
    @include dfjcsaaic();

}

#main-right{
    width: 100%;
}

.bigger-text{
    font-size: 20px;
}
.blue-text{
    color: $hcolor;
}
.yellow-button{
    @include yellowbutton()
}