<div id="main-slider-container">
    <div style="color: black;font-size: 30px;" (click)="slideLeft()"><mat-icon>keyboard_arrow_left</mat-icon></div>
    <div><img class="slides" src="../../../assets/images/restaurant.jpg" alt=""></div>
    <div><img class="slides" src="../../../assets/images/pool.jpg" alt="" style="display: none;"></div>
    <div><img class="slides" src="../../../assets/images/pool2.jpg" alt="" style="display: none;"></div>
    <div><img class="slides" src="../../../assets/images/bedroom.jpg" alt="" style="display: none;"></div>
    <div><img class="slides" src="../../../assets/images/gym.jpg" alt="" style="display: none;"></div>
    <div><img class="slides" src="../../../assets/images/bar.jpg" alt="" style="display: none;"></div>
    <div><img class="slides" src="../../../assets/images/meeting.jpg" alt="" style="display: none;"></div>
    <div><img class="slides" src="../../../assets/images/hotel.jpg" alt="" style="display: none;"></div>
    <div style="color: black;font-size: 30px;" (click)="slideRight()"><mat-icon>keyboard_arrow_right</mat-icon></div>
</div>