<mat-divider></mat-divider>
<div id="sticky">
    <div id="current-search-detail">
        <div>
            <div>Select Hotel City</div>
            <div>
                <mat-icon>king_bed</mat-icon>
                    {{selectedCity}} 
                
            </div>
        </div>
        <div>
            <button class="yellow-button" matButton (click)="openModal()">CHANGE SEARCH</button>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div id="sort-widget">
    <div>
        Sort by
        <mat-icon>sort</mat-icon>
        <ul>
            <li>Reccomendation</li>
            <li>Lowest Price</li>
            <li>Rating</li>
        </ul>
    </div>
</div>
<mat-divider></mat-divider>
<div id="main-container">
    <div id="main-left">
        <div id="filter-container">
            <div>FILTERS</div>
            <button class="blue-text" (click)="resetFilter()">RESET</button>
        </div>
        
        <mat-accordion multi="true">
            <mat-card>
                <a (click)="switchMap()">
                    <img class="marginned" src="../../../assets/images/showmap.png" alt="">
                </a>
            </mat-card>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Hotel Stars
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expanel-container">
                    <mat-checkbox 
                    [(ngModel)]="checkBool[0]" 
                    class="chkbox"
                    (click)="filterStar(1)">
                        <div>
                            <mat-icon class="star">star</mat-icon>
                        </div>
                        <div>{{oneStar}} properties</div>
                    </mat-checkbox>
                    <mat-checkbox 
                    [(ngModel)]="checkBool[1]" 
                    class="chkbox" 
                    (click)="filterStar(2)">
                        <div>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                        </div>
                        <div>{{twoStar}} properties</div>
                    </mat-checkbox>
                    <mat-checkbox 
                    [(ngModel)]="checkBool[2]" 
                    class="chkbox"
                    (click)="filterStar(3)">
                        <div>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                        </div>
                        <div>{{threeStar}} properties</div>
                    </mat-checkbox>
                    <mat-checkbox 
                    [(ngModel)]="checkBool[3]" 
                    class="chkbox"
                    (click)="filterStar(4)">
                        <div>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                        </div>
                        <div>{{fourStar}} properties</div>
                    </mat-checkbox>
                    <mat-checkbox 
                    [(ngModel)]="checkBool[4]" 
                    class="chkbox"
                    (click)="filterStar(5)">
                        <div>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                        </div>
                        <div>{{fiveStar}} properties</div>
                    </mat-checkbox>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Facilities
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expanel-container">
                    <mat-checkbox [(ngModel)]="checkBool[5]" class="chkbox">AC</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[6]" class="chkbox">Parking</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[7]" class="chkbox">24-Hour Frontdesk</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[8]" class="chkbox">Swimming Pool</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[9]" class="chkbox">Elevator</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[10]" class="chkbox">Wi-Fi</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[11]" class="chkbox">Spa</mat-checkbox>
                </div>
            </mat-expansion-panel>
            
            
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Price Range per Night
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>Total: IDR 0 - IDR 10.000.000</div>
                <mat-slider #price thumbLabel [displayWith]="formatLabel" [value]="price" tickInterval="100000" min="0" max="10000000">

                </mat-slider>
            </mat-expansion-panel>
            
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Area
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expanel-container">
                    <mat-checkbox [(ngModel)]="checkBool[5]" class="chkbox">Tanah Abang</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[6]" class="chkbox">Setiabudi</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[7]" class="chkbox">Menteng</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[8]" class="chkbox">Pancoran</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[9]" class="chkbox">Jatinegara</mat-checkbox>
                </div>
            </mat-expansion-panel>
            
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Accomodation Types
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expanel-container">
                    <mat-checkbox [(ngModel)]="checkBool[5]" class="chkbox">
                        <div>
                            <div>Apartement</div>
                            <div>xx properties</div>
                        </div>
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[6]" class="chkbox">
                        <div>
                            <div>Hotel</div>
                            <div>xx properties</div>
                        </div>
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[7]" class="chkbox">
                        <div>
                            <div>Guest House</div>
                            <div>xx properties</div>
                        </div>
                    </mat-checkbox>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Hotel Chain
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expanel-container">
                    <mat-checkbox [(ngModel)]="checkBool[5]" class="chkbox">
                        <div>
                            <div>Independent</div>
                            <div>xx properties</div>
                        </div>
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkBool[6]" class="chkbox">
                        <div>
                            <div>RedDoorz</div>
                            <div>xx properties</div>
                        </div>
                    </mat-checkbox>
                    
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    

    </div>
    <div id="main-right">
        <div id="no-hotelres" *ngIf="hotels.length === 0">
            No Hotels Available :( 
        </div>
       <div *ngIf="hotels.length > 0">
        <mat-card class="hotel-container" *ngFor="let hotel of hotels; let i = index">
            <div class="upper-hotel-card">
                <div>
                    <img class="hotel-image" src="{{hotel.image}}" alt="">
                </div>
                <div class="hotel-detail-container">
                    <div class="hotel-name">
                        <a (click)="goToDetail(hotel)">{{hotel.name}}</a>
                    </div>
                    <div *ngIf="hotel.star === 1">
                        <mat-icon class="star">star</mat-icon>
                    </div>
                    <div *ngIf="hotel.star === 2">
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                    </div>
                    <div *ngIf="hotel.star === 3">
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                    </div>
                    <div *ngIf="hotel.star === 4">
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                    </div>
                    <div *ngIf="hotel.star === 5">
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                        <mat-icon class="star">star</mat-icon>
                    </div>
                    <div>
                        <mat-icon>place</mat-icon>
                        {{hotel.city}} - <a class="blue-text" (click)="switchMap()">SHOW ON MAP</a>
                    </div>
                    <div class="blue-text">
                        <img class="tiket-icon" src="../../../assets/icons/small-tiket-icon.svg" alt="">
                        {{hotel.rating}}/10
                    </div>
                </div>
            </div>
            <div class="lower-hotel-card">
                <span>IDR {{hotel.rooms[0].price}}</span>/room/night
            </div>
            
        </mat-card>
        
        
        
        
       </div>
    </div>
</div>