<div id="main-body">
    <div>
        <div><strong>Account Details</strong></div>
        <div>Here's your account details. Tap to make changes.</div>
    </div>
    <div id="profile-container">
        <div id="left-side-profile">
            <div class="paddinged">Email</div>
            <div class="paddinged">{{accountService.user.email}}</div>
            <div class="paddinged">Mobile Number</div>
            <div class="paddinged">{{accountService.user.phone}}</div>
            <mat-divider></mat-divider>
            <div class="paddinged right-end">
                <a id="blue" (click)="alert()">ACCOUNT SETTINGS</a>
            </div>
        </div>
        <div id="right-side-profile">

            <mat-form-field>
                <input matInput type="text" placeholder="First Name" [formControl]="firstNameControl" value="{{user.firstname}}">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Last Name"  [formControl]="lastNameControl" value="{{user.lastname}}">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="City Name"  [formControl]="cityControl" value="{{user.city}}">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput type="text" placeholder="Phone Number"  [formControl]="phoneControl" value="{{user.phone}}">
            </mat-form-field>


            <mat-form-field>
                <input matInput type="text" placeholder="Address"  [formControl]="addressControl" value="{{user.address}}">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="ZipCode"  [formControl]="zipControl" value="{{user.postcode}}">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Prefered Language"  [formControl]="langControl" value="{{user.language}}">
            </mat-form-field>
        </div>
    </div>
    <div class="right-end">
        <button mat-button (click)="validatePhoneNumber()">SAVE</button>
    </div>
</div>