<div id="main-slider-container">
    <div style="color: white;font-size: 20px;" (click)="slideLeft()"><mat-icon>keyboard_arrow_left</mat-icon></div>
    <div><img class="slides" src="../../../assets/mainslider/slider-image-1.jpg" alt=""></div>
    <div><img class="slides" src="../../../assets/mainslider/slider-image-2.jpg" alt="" style="display: none;"></div>
    <div><img class="slides" src="../../../assets/mainslider/slider-image-3.jpg" alt="" style="display: none;"></div>
    <div><img class="slides" src="../../../assets/mainslider/slider-image-4.jpg" alt="" style="display: none;"></div>
    <div><img class="slides" src="../../../assets/mainslider/slider-image-5.jpg" alt="" style="display: none;"></div>
    <div style="color: white;font-size: 20px;" (click)="slideRight()"><mat-icon>keyboard_arrow_right</mat-icon></div>
</div>