@import '../../app.component.scss';

#no-flightres{
    @include dfjccaic();
    
}
#change-search-widget{
    @include dfjcsaaic()
}

#search-widget-left{
    @include dfjcsbaic();
}

#current-search-detail{
    @include dfjcsaaic();
    margin: 20px 0;
    
}
#sticky{
    position: sticky;
}

#main-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#main-left{
    
    margin-left: 20px;
}
mat-checkbox{
    padding: 10px;
}
mat-checkbox:hover{
    background-color: $hcolor;
}
mat-card{
    margin: 0 0 20px 0;
    width: 80vw;
    
}
mwl-calendar-month-view{
    height:500px;
    width: calc(90vw+0.2em);
    margin: 10px;
}

.calendar-button-container{
    @include dfjcsbaic();
    margin: 20px;
    
}
.calendar-current-month{
    @include dfjccaic()
}
#calendar-container{
    margin: 20px;
}

#filter-container{
    @include dfjcsbaic();
}
.expanel-container{
    display: flex;
    flex-direction: column;
}
.blue-text{
    color: $hcolor;
}

.flight-container{
    
    min-width: 500px;
    width: calc(100vw+0.2em);
}
.flight-detail-container{
    @include dfjcsbaic();
}
.flight-leftside{
    @include dfjcsaaic();
}

.flight-time{
    padding: 10px;
    margin: 10px;
}
.yellow-button{
    @include yellowbutton();
}
.flight-last{
    @include dfjcsbaic();
}
.detail-container{
    @include dfjcsaaic();
}
.detail-container>div{
    margin-left: 10px;
    color: $hcolor;
}
.current-detail-content{
    display:none;
    padding: 10px;

}

.current-price-content{
    display:none;
    padding: 10px;
}
ul>li{
    @include dfjcsbaic();
}

.facilities-icon{
    @include dfjcsaaic();
}
img{
    width:20px;
    height: 20px;
}
.spacer{
    width: 20px;
    height: 20px;
}
mat-tab-group{
    width: 100%;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#sort-widget{
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div{
        margin-right: 110px;
    }
    div>ul{
        z-index: 1;
        background-color: $bcolor;
        padding: 10px;
        display: none;
        position: absolute;
        li{
            margin: 5px 0;
            padding: 10px 0;
        }
        li:hover{
            background-color: $hcolor;
        }
    }
    div:hover{
        ul{display: block;}
    }
}